{% extends "@QSCOR/Workspace/index.html.twig" %}
{% block menuapplication %}
    <ul class="vertical menu menucanvas menuapplicationindex" data-accordion-menu>
        <li>
            <a href="#" style="color: #FBFCF7">{{ projectname }}</a>
            <ul class="menu vertical is-active" >
                <li{% if app.session.get('routename') == 'networking' %}
                    class="active"
                        {% endif %}>
                    <a href="{{ path('networking',{'projectname' : projectname}) }}" style="font-size: 15px; color: #FBFCF7"><i class="step fi-map" style="font-size: 24px"></i>Networking</a>
                    {% if app.session.get('routename') == 'networking' %}
                        <ul class="menu vertical is-active" >
                            <li class="
                                                    {% if app.session.get('routename') == 'networking' or
                            app.request.attributes.get('_route') == 'company_new' or
                            app.request.attributes.get('_route') == 'company_index' or
                            app.request.attributes.get('_route') == 'company_edit'
                            %}appactive{% endif %}">
                                <a href="{{ path('company_index',{'projectname':projectname}) }}" style="font-size: 13px; color: #FBFCF7; ">Companies</a></li>
                            <li><a href="{{ path('type_facility_index',{'projectname':projectname}) }}" style="font-size: 13px; color: #FBFCF7; ">Facilities</a></li>
                            <li><a href="{{ path('site_index',{'projectname':projectname}) }}" style="font-size: 13px; color: #FBFCF7; ">Sites</a></li>
                            <li><a href="{{ path('flow_site_index',{'projectname' : projectname}) }}" style="font-size: 12px; color: #FBFCF7">Flow Sites</a></li>
                            <li>

                                <div class="btnnetworking">
                                    <a href="{{ path('networkingmaps', {'projectname': app.request.attributes.get('projectname')}) }}" >
                                        Show Network
                                    </a>
                                </div>
                            </li>
                        </ul>

                    {% endif %}

                </li>
                <li{% if app.session.get('routename') == 'modelling' %}
                    class="active"
                        {% endif %}>
                    <a href="{{ path('modelling',{'projectname' : projectname}) }}" style="font-size: 15px; color: #FBFCF7"><i class="step fi-shuffle" style="font-size: 24px"></i>Modelling</a>
                    {% if app.session.get('routename') == 'modelling' %}
                        <ul class="menu vertical is-active" >
                            <li class="
                                                {% if app.session.get('routename') == 'modelling' or
                            app.request.attributes.get('_route') == 'company_new' or
                            app.request.attributes.get('_route') == 'company_index' or
                            app.request.attributes.get('_route') == 'company_edit'
                            %}appactive{% endif %}">
                                <a href="{{ path('company_index',{'projectname':projectname}) }}" style="font-size: 13px; color: #FBFCF7; ">Companies</a></li>
                            <li><a href="{{ path('type_facility_index',{'projectname':projectname}) }}" style="font-size: 13px; color: #FBFCF7; ">Facilities</a></li>
                            <li><a href="{{ path('site_index',{'projectname':projectname}) }}" style="font-size: 13px; color: #FBFCF7; ">Sites</a></li>
                            <li>

                                <div class="btnnetworking">
                                    <a href="{{ path('modellingprojectschema', {'projectname': app.request.attributes.get('projectname')}) }}" >
                                        Show Modelling for this Project
                                    </a>
                                </div>
                            </li>
                        </ul>
                    {% endif %}

                </li>


                <li{% if app.session.get('routename') == 'performance' %}
                    class="active"
                        {% endif %}>
                    <a href="{{ path('performance',{'projectname' : projectname}) }}" style="font-size: 15px;color: #FBFCF7">
                        <i class="step fi-graph-bar" style="font-size: 24px"></i>Performance
                    </a>
                    {% if app.session.get('routename') == 'performance' %}

                        <ul class="menu vertical is-active" >
                            <li class="{% if app.request.attributes.get('_route') == 'performancemode'
                            %}appactive{% endif %}">
                                <a href="{{ path('performancemode',{'projectname':projectname}) }}" style="font-size: 13px; color: #FBFCF7; ">Performance Mode</a>
                            </li>

                            <li class="
                                                {% if
                            app.request.attributes.get('_route') == 'company_new' or
                            app.request.attributes.get('_route') == 'company_index' or
                            app.request.attributes.get('_route') == 'company_edit'
                            %}appactive{% endif %}">
                                <a href="{{ path('company_index',{'projectname':projectname}) }}" style="font-size: 13px; color: #FBFCF7; ">Companies</a></li>
                            <li><a href="{{ path('type_facility_index',{'projectname':projectname}) }}" style="font-size: 13px; color: #FBFCF7; ">Facilities</a></li>
                            <li><a href="{{ path('site_index',{'projectname':projectname}) }}" style="font-size: 13px; color: #FBFCF7; ">Sites</a></li>
                            <li>

                                <div class="btnnetworking">
                                    <a href="{{ path('modellingprojectschema', {'projectname': app.request.attributes.get('projectname')}) }}" >
                                        Show Perfromance for this Project
                                    </a>
                                </div>
                            </li>
                        </ul>
                    {% endif %}

                </li>
                <li {% if   app.request.attributes.get('_route') == 'project_edit' %}
                    class="active"
                {% endif %}
                >
                    <a href="{{ path('project_edit',{'projectname' : projectname,'id': app.session.get('projectid')| urlencrypt}) }}" style="font-size: 15px;color: #FBFCF7"><i class="step fi-widget" style="font-size: 24px"></i>Settings Projects</a>
                </li>

            </ul>
        </li>


    </ul>
{% endblock %}
{% block workspace %}





{% endblock %}


{#{{ render(controller('QSCORBundle:Performance_Type:edit',#}
{#{'projectname': projectname, 'id' : performancetype.id})) }}#}
